.card {
  text-align: center;
  color: grey;
  font-size: min(1.8vw, 18px);
}

.repo_title {
  display: block;
}

.usercard_avatar {
  width: min(16vw, 250px);
}

.repo_title:hover {
  cursor: pointer;
}
